<div class="card">
  <div class="card-item">
    <div class="card-item__header">
      <a href="#" itemprop="url" class="card-link" target="_blank" title="Объявление">
        <div class="photo-slider">
          <img ngSrc="https://raw.githubusercontent.com/gloopieKot/Bulletin-board/main/img/image-item.png"
          alt="image" height="240" width="306">
        </div>
      </a>
    </div>
    <div class="card-item__body">
      <div class="body-title">
        <a href="#" itemprop="url" target="_blank" title="Объявление">
          <h3>Название</h3>
        </a>
      </div>
          <p class="price">20 000 ₽</p>
          <p class="geo">Москва, Ленинский проспект</p>
          <p class="published-date">Сегодня 14:12</p>
    </div>
  </div>
</div>
