.header-block {
  background-color: #1E293B;
  height: 52px;
}

.header-button {
  height: 36px;
}

.btn-signin {
  gap: 8px;
  border-color: #1E293B;
  background-color: #1E293B;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}

.btn-new-ad {
  gap: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
