<div class="grid-nogutter header-block">
  <div class="col-10 p-2 ">
    <div class="p-0 border-noround m-0">
      <div class="header-button flex justify-content-end">
        <button pButton
                type="button"
                icon="pi pi-user"
                label="Войти"
                class="btn-signin">
        </button>
        <button pButton
                type="button"
                icon="pi pi-plus"
                label="Новое объявление"
                class="btn-new-ad">
        </button>
      </div>
    </div>
  </div>
</div>
