<div class="header-block">
<div class="header-block-nav flex flex-row-reverse">
    <div class="header-block-nav__button flex align-content-center my-2 gap-2">
      <button pButton
              type="button"
              icon="pi pi-user"
              label="Войти"
              class="btn-signin p-2">
      </button>
      <button pButton
              type="button"
              icon="pi pi-plus"
              label="Новое объявление"
              class="btn-new-ad p-2">
      </button>
    </div>
</div>
</div>
