.header-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.btn-signin {
  height: 36px;
  margin-right: 8px;
  gap: 8px;
  border-color: #1E293B;
  background-color: #1E293B;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;

}

.btn-new-ad {
  height: 36px;
  gap: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
