input {
  width: 636px;
  padding: 8px 12px;
  border: 1px solid #CBD5E1;
  border-radius: 4px 0 0 4px;
  color: #1E293B;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
//@media screen and (min-width:414px) {
//  .input-form {
//    width: 249px
//  }
//}

@media screen and (min-width:1334px) {
  .input-form {
    width: 684px
  }
}

@media screen and (min-width:1366px) {
  .input-form {
    width: 684px
  }
}

//@media (min-width: 576px) {
//  .input-form {
//    max-width: 540px;
//  }
//}
//
//@media (min-width: 768px) {
//  .container {
//    max-width: 720px;
//  }
//}
//
//@media (min-width: 992px) {
//  .container {
//    max-width: 960px;
//  }
//}
//
//@media (min-width: 1200px) {
//  .container {
//    max-width: 1140px;
//  }
//}
